<h1>Doctors List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.name %></td>
        <td><%= link_to 'Show', doctor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
